
@charset "UTF-8";

/* 모달창 */

.modal-1400{max-width: 1440px; margin: auto; padding: 20px;}

.modal {
    /* display: none;   */
    
    position: fixed;
    left: 0;
    top: 0;    

    overflow-y: auto;
    
    width: 100%;
    height: 100%;   

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 900; /* z-index는 반드시 들어가야 한다 */ }


.modal-wrap {
  
    position: absolute;
    left: 10%;/* 항상 수평 영역의 중앙에 위치하도록 설정 */
    top: 15%;
    /* background-color: red; */
    display: block;
    width:80%;
    
    padding-bottom:50px;    
}

.modal-body{   background-color: #fff;  padding:20px; border-radius: 20px; color: #202124;}  
.modal-body h2{font-weight: 400; text-align: center; margin-bottom: 20px; color: #505050;}  
.modal-body .modal-logo > img {width: auto; margin: 0 auto; margin-bottom: 60px;}  
/* .modal-body .modal-logo { }   */
.modal-body .con {font-size: 18px; margin-bottom: 30px;}
.modal-body .con >span{text-align: left; font-weight: 600; display: block; margin-bottom: 4px; font-size: 20px;}



.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;

    display: block;
    width: 50px;
  

    border: 0;
    color: #8E6BA7;
    cursor: pointer;
    font-size: 35px;
}

.modal .web i {
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-bottom: 40px;
    color: #8E6BA7;
}


section.banner {
    background-color: #6B4E3D;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
/* section.banner .container{ display: flex;} */

section.banner .banner_img img:nth-child(1){
    width: 60%;
    margin-left: auto; 
    /* border: 1px solid green; */
    display: block;
}              
section.banner .banner_img img:nth-child(2){
    display: none;
}

section.banner .banner_txt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 250px;
    color: #EDE2D6;
}
section.banner .banner_txt h2{font-size: 100px; line-height: 110%; }
section.banner .banner_txt p{ font-size: 25px; margin-top: 10px;} 

/* service img 바로가기============================================ */
section.care-service {
    width: 100%;
    text-align: center;
    padding: 200px 20px;
    background-color: #F1ECE5;
}

section.care-service a{
    font-size: 25px;
    padding: 10px 30px;
    background-color: #8A9A5B;
    display: inline-block;
    margin-top: 50px;
    border-radius: 40px;
    color: #F3EFEA;
    
    
}

section.care-service a:hover{
    background-color: #F3EFEA;
    border: 1px solid #8A9A5B;
    color: #8A9A5B;
    transition: all 0.4s;
}

/* service text============================================ */
section.care-service .flex-box > div {width: 50%;}
section.care-service .flex-box > div img {border-radius: 20px;}
/* section.care-service .flex-box > div:nth-child(1) img {width: 60%; margin: auto;} */
section.care-service .flex-box > div:nth-child(2) {padding-left: 50px;}
section.care-service ul > li>div {
    padding: 15px 0;
    background-color: #fff;
    /* margin-top: 10px; */
    font-size: 25px;
    border-radius: 10px;
    color: #6B4E3D;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}
section.care-service ul > li>div.careshow{
    background-color: #6B4E3D;
    color:#F3EFEA;
    margin-bottom: 5px;
}

section.care-service .flex-box h2{
    font-size: 60px;
    color: #6B4E3D;
    margin-bottom: 20px;
}

section.care-service span{   
    margin-top: 10px;
    transition: height 0.5s ease, padding 0.5s ease;
    font-size: 20px;
    display: none;
    color: #3B2F2F;
}



/* 모바일에서만 보이는 컨텐츠  */

.mo-care-service{display: none;}



.swiper-pagination-bullet-active{background-color: #6B4E3D;}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #fff;
    flex-direction: column;
    padding-bottom:50px;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}


/* review 구간============================================ */
section.review{background-color: #EDE2D6; padding: 200px 20px;}
section.review h2{
    margin-bottom: 50px;
    font-size: 60px;
    color: #6B4E3D;
    /* text-align: center; */
}
section.review .flex-box{width: 100%; gap: 30px;}
section.review .flex-box .reviewcard{
    width: calc((100% - 60px) / 3);
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
}
section.review .flex-box .reviewcard img{width: 230px; padding-bottom: 20px;}
section.review .flex-box .reviewcard p{font-size: 20px; color: #545454;}
section.review a{
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-top: 50px;
    font-weight: 700;
    font-size: 25px;
    color: #8A9A5B;
    /* padding-bottom: 150px; */
}

section.mo-review{display: none;}


/* petmate 시작================================*/

section.petmate{background-color: #F1ECE5; padding: 200px 20px;}
section.petmate div.container > h2{font-size: 60px; color: #6B4E3D;}
section.petmate div.container > p{font-size: 25px; color: #3B2F2F;}
section.petmate div.container > p br{display: none;}
section.petmate div.container .matesection{
    background-color: #fff;
    width: 100%;
    padding: 40px;
    align-items: flex-end; 
    margin-top: 50px;
    border-radius: 10px;
}
section.petmate div.container .matesection span{
    width: 10%;
    text-align: center;
    margin: auto;
    font-size: 25px;
    color: #6B4E3D;
}
section.petmate div.container .matesection img{width: 20%; }
section.petmate div.container .matesection .matetxt{width: 60%; margin: auto; padding-left: 35px; font-size: 25px; color: #545454;}
section.petmate div.container .matesection a{
    width: 10%; 
    text-align: right;
    font-size: 25px;
    color: #8A9A5B;
    font-weight: 700;
}

section.mo-petmate{display: none;}




section.faq{
    padding: 200px 20px;
}

section.faq h2{
    text-align: center;
    font-size: 60px;
    color: #6B4E3D;
    margin-bottom: 50px;
}


section.faq .faq-section{
    gap: 50px;
}


section.faq .faq-box{
    width: calc((100% - 50px) / 2);
}


section.faq h3{
    margin-bottom: 20px;
    font-size: 30px;
    color: #3B2F2F;
}

section.faq .query{
    padding: 15px 20px;
    background-color: #F1ECE5;
    font-size: 25px;
    border-radius: 10px;
    color: #6B4E3D;
    cursor: pointer;
    margin-top: 15px;
}

section.faq .query.faqshow{
    background-color: #6B4E3D;
    color:#F3EFEA;
    display: inline-block;
    width: 100%;
    
}
section.faq span{display: inline-block;}

section.faq .answer{
    display: none;
    padding: 15px 20px;
    font-size: 20px;
    color: #6B4E3D;

    
}
section.faq .faq-more{
    text-align: center;
    margin-top: 50px;
}

section.faq .faq-more a{
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 25px;
    color: #8A9A5B;
    font-weight: 700;
}

section.faq .faq-more a:hover{
    background-color: #F1ECE5;
    color: #6B4E3D;
    transition: all 0.4s;
}


section.mo-faq{display: none;}










@media(max-width:992px){


/* 본문 ===========================================  */

   section.banner .banner_img img:nth-child(1){display: none;}
    section.banner .banner_img img:nth-child(2){display: block;width: 100%; 
    margin-left: auto; margin-right: 0;}
section.banner .banner_txt{
    top: auto;
    transform: translateY(0);
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    bottom:40px;
    left: 40px;
}

section.banner .banner_txt h2{font-size: 80px; line-height: 110%;}
        section.banner .banner_txt p{ font-size: 25px; margin-top: 10px;} 

    



/* mo-care-service===================================== */

.care-service{display: none;}

.mo-care-service .swiper-pagination{display: block; padding-bottom: 15px;}
.mo-care-service{
    background-color: #F1ECE5;
    padding: 0 20px;
    display: block; 
    text-align: center;
    position: relative;
}
.mo-care-service .swiper-slide>div{width: 100%; background-color: #fff; border-radius: 20px; overflow: hidden;}
.mo-care-service h2{
    padding-top: 50px;
    padding-bottom: 30px;
    color: #6B4E3D;
    font-size: 35px;
}
.mo-care-service .swiper-slide .mo-content {
    color: #3B2F2F;
    background-color: #fff;
    display: block;
    padding: 20px 0;
    padding-bottom: 60px;
    font-size: 20px;
}

.mo-care-service .swiper-slide .mo-content img{
    border-radius: 20px;
}

.mo-care-service .swiper-slide .mo-content .mo-title{
    color: #6B4E3D;
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
}

.swiper-backface-hidden .swiper-slide {border-radius: 20px;}
/* .swiper-backface-hidden .swiper-slide img{border-radius: 20px 20px 0 0; margin-bottom: 20px;} */

.mo-care-service .greenbt{ width: 100%; }
.mo-care-service a{
    font-size: 24px;
    padding: 10px 30px;
    background-color: #8A9A5B;
    display: inline-block;
    margin-top: 30px;
    border-radius: 40px;
    color: #F3EFEA;
    margin-bottom: 50px;   
}
.mo-care-service .swiper-slide{padding-bottom: 10px;}
/* 모바일 review 구간============================================ */

section.review{
    display: none;
}

section.mo-review{
    display: block; 
    background-color: #EDE2D6; 
    padding: 50px 20px; 
}
section.mo-review h2{
    padding-bottom: 30px;
    color: #6B4E3D;
    text-align: center;
    font-size: 35px
    }
section.mo-review .flex-box{
    background-color: #fff;
    display: inline-block;

    border-radius: 20px;
}
section.mo-review .flex-box{padding: 50px;}
section.mo-review img{width: 250px; }
section.mo-review .flex-box p{
    width: 100%;
    font-size: 20px;
    padding-top: 30px;
    color: #545454;
}

section.mo-review a {
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-top: 30px;
    font-weight: 700;
    color: #8A9A5B;
    font-size: 24px;
}


section.petmate{
    display: none;
}
section.mo-petmate{
    display: block;
    background-color: #F1ECE5;
    padding: 50px 20px;
} 

section.mo-petmate div.container > h2{
    color: #6B4E3D;
    text-align: center;
    font-size: 35px;
}
section.mo-petmate div.container > p{
    font-size: 20px;
    color: #3B2F2F;
    text-align: center;
    padding-bottom: 30px;
}


section.mo-petmate div.container .mo-matesection span{
    font-size: 20px;
    color: #6B4E3D;
    text-align: left;
    margin: auto;
    padding-left: 50px;
    display: inline-block;
    padding-bottom: 30px;
    
}
section.mo-petmate div.container .mo-matesection h2,
section.mo-petmate div.container .mo-matesection p{
    color: #545454;
    text-align: center;
    font-size: 25px;
}

section.mo-petmate div.container .mo-matesection .mo-matetxt {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 30px;
}
section.mo-petmate div.container .mo-matesection img{
    border-radius: 0 0 20px 20px;
}
section.mo-petmate div.container  a{
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-top: 30px;
    font-weight: 700;
    color: #8A9A5B;
    font-size: 24px
}

/* section.faq 모바일 구간===================================== */

section.faq{display: none;}
section.mo-faq{
    display: block;
    padding: 50px 20px;
}


section.mo-faq h2{
    text-align: center;
    font-size: 35px;
    color: #6B4E3D;
    padding-bottom: 30px;
}




section.mo-faq .mo-faq-box{
    width: 100%;
}
section.mo-faq .mo-faq-box:nth-child(1){
    margin-bottom: 30px;
}


section.mo-faq h3{
    margin-bottom: 20px;
    font-size: 25px;
    color: #3B2F2F;
}

section.mo-faq .mo-query{
    padding: 15px 20px;
    background-color: #F1ECE5;
    font-size: 20px;
    border-radius: 20px;
    color: #6B4E3D;
    cursor: pointer;
    margin-top: 15px;
}

section.mo-faq .mo-query.faqshow{
    background-color: #6B4E3D;
    color:#F3EFEA;
    margin-bottom: 15px;
    
    
}
section.mo-faq .mo-answer{
    display: none;
    padding: 15px 20px;
    font-size: 20px;
    color: #6B4E3D;
    
}
section.mo-faq .mo-faq-more{
    text-align: center;
}

section.mo-faq .mo-faq-more a{
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-top: 30px;
    font-weight: 700;
    color: #8A9A5B;
    font-size: 24px;
}



        

}


@media(max-width:767px){
    
        section.banner .banner_txt{
            bottom:65px;
            left: 40px;
        }
        section.banner .banner_txt h2{font-size: 70px; line-height: 100%;}
        section.banner .banner_txt p{ font-size: 30px;} 
        
        .mo-care-service h2{font-size: 30px;}
        .mo-care-service .swiper-slide .mo-content {font-size: 17px;}
        .mo-care-service a{font-size: 20px;}

        .mo-care-service{padding: 0 20px;}
        .mo-care-service .swiper-slide:nth-child(2) .mo-content br:nth-child(1){display: none;}
        section.mo-review h2{font-size: 30px;}
        section.mo-review .flex-box{padding: 30px;}
        section.mo-review .flex-box img{width: 200px;}
        section.mo-review .flex-box p{font-size: 17px; padding-top: 20px;}
        section.mo-review a{font-size: 20px;}


        section.mo-review .flex-box{padding: 30px;}
        section.mo-review .flex-box img{width: 200px;}
        section.mo-review .flex-box p{font-size: 17px; padding-top: 20px;}
        section.mo-review a{font-size: 18px;}

        section.mo-petmate div.container > h2{font-size: 30px;}
        section.mo-petmate div.container > p{font-size: 17px;}

        section.mo-petmate div.container .mo-matesection .mo-matetxt{
            border-radius: 20px 20px 0 0;
            width: 100%;
            padding: 30px 0;
        }

        section.mo-petmate div.container .mo-matesection span{
            font-size: 16px;
            padding-left: 30px;
            padding-bottom: 10px;
        }
        section.mo-petmate div.container .mo-matesection h2, section.mo-petmate div.container .mo-matesection p{
            font-size: 17px;
            padding: 0 30px;
        }

        section.mo-petmate div.container a{
            font-size: 18px;
        }
    


section.mo-faq h2{
    font-size: 30px;
}


section.mo-faq h3{
    font-size: 20px;
}

section.mo-faq .mo-query.faqshow{margin: 10px 0;}

section.mo-faq .mo-query{
    padding: 15px 15px;
    font-size: 16px;
}

section.mo-faq .mo-answer{
    font-size: 17px;
}

section.mo-faq .mo-faq-more a{
    font-size: 18px;
} 













  
